GITHUB_KEY=XXX
GITHUB_SECRET=XXX
GOOGLE_CLIENT_ID=XXX
GOOGLE_CLIENT_SECRET=XXX
SMTP_USER_NAME=example@gmail.com
SMTP_PASSWORD=smtp-password
GOPLAN_WEB_BASE_URL=https://goooooouwa.fun:8095
ACTION_MAILER_DEFAULT_HOST=goooooouwa.fun
ACTION_MAILER_DEFAULT_PORT=8096
JWT_SECRET=jwt-secret
SECRET_KEY_BASE=secure-key-secret
POSTGRES_PASSWORD=postgres-password
PORT=8080