<div>
  <h2>
    <%= current_user.name || current_user.email %>
  </h2>
  <%= link_to t("sign_out"), destroy_user_session_path, method: :delete %><br />
  <%= link_to t("goplan_web"), ENV["GOPLAN_WEB_BASE_URL"], target: "_blank" %>
</div>
